/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url("assets/vlad-kiselov-dHkh5YztXAA-unsplash.jpg") center
    no-repeat;
}

.hero__container {
  text-align: center;
  color: white;
}

.hero__title {
  display: inline-block;
  padding: 15px;
  font-size: 3rem;
  background-color: black;
  border-radius: 15px;
}

.hero__subTitle {
  padding: 15px;
  background-color: black;
  border-radius: 15px;
}

/* Activities section */
#activities {
  background-color: #fafaff;
  margin: 25px 0;
}

.activities__title {
  text-align: center;
  margin: 50px 0;
}

.activity__title {
  font-weight: bold;
}

.activity__info {
  text-align: center;
}

#activityDiv {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

#activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

#activity__image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#activity__image:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in;
}

#guide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: #30343f;
}

/* Guide Section */
.guide__container {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 600px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
}

.guide__image {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}

.guide__title {
  font-size: 1.5rem;
}

.guide__quote {
  font-style: italic;
  font-weight: 300;
}

.guide__signed {
  font-size: 1.3rem;
  font-style: italic;
}
